body{
    color: #fff;
    font-family: 'Nunito Semibold';
    text-align: center;
}
#content{
    display: grid;
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 200px 300px 400px 200px; */
    /* grid-template-rows: repeat(4,200px,minmax(200px,auto)); */
    /* grid-template-rows: repeat(3,200px); */
    grid-auto-rows: minmax(150px,auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    /* align-items: start;
    justify-items: end; */
}
#content div{
    background: #3bbced;
    padding: 30px;
    /* margin: 10px; */
}
#content div:nth-child(odd){
    background: #f75d5d;
    padding: 30px;
}
.one{
    justify-self: end;
    align-self: end;
}
.two{
    align-self: center;
    justify-self: center;
}
.three{
    align-self: start;
    justify-self: start;
}